 
.intro-title {
    font-size: 2.5em; /* Kích thước tiêu đề lớn */
    margin-bottom: 20px; /* Khoảng cách phía dưới tiêu đề */
    text-align: center; /* Căn giữa */
    color: #ed2946; /* Màu tím cho tiêu đề */
    text-transform: uppercase; /* Chữ hoa */
    letter-spacing: 1px; /* Khoảng cách giữa các chữ cái */
}

.intro-text {
    font-size: 1.2em; /* Kích thước chữ */
    line-height: 1.8; /* Khoảng cách dòng lớn */
    text-align: justify; /* Căn đều hai bên */
    margin: 0 20px; /* Thêm khoảng cách bên trái và bên phải */
    color: #555; /* Màu chữ xám */
     padding: 20px; /* Khoảng đệm bên trong */
    border-radius: 10px; /* Bo tròn góc */
 }

.content {
    padding: 40px; /* Thêm khoảng đệm cho toàn bộ nội dung */
}

.grid {
    max-width: 800px; /* Giới hạn chiều rộng */
    margin: auto; /* Căn giữa */
}
